<nav class="navigation">
    <a href="{{ path('app_parcelle_new') }}" class="nav-link">Ajouter une parcelle</a>
    <a href="{{ path('app_plante_new') }}" class="nav-link">Ajouter une plante</a>
</nav>