<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RGPD</title>
</head>
<body>
    <h1>Utilisation des données</h1>
    Vos données personnelles (nom, prénom, adresse de courriel etc...) sont conservées pour une durée de 5 maximale après votre désinscription du site en acccord avec la 
</body>
</html>