{% extends 'base.html.twig' %}

{% block title %}Modifier une parcelle{% endblock %}

{% block body %}
    <h1>Modifier une parcelle</h1>

    {{ include('admin_parcelle/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_admin_parcelle_index') }}">Retour à la liste des parcelles</a>

    {{ include('admin_parcelle/_delete_form.html.twig') }}
{% endblock %}
