{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <p>
        Si un compte correspondant à votre adresse courriel existe, un courriel contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe vient d'être envoyé.
        Ce lien expirera dans{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas de courriel, vérifiez votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}"><strong>Renvoyer</strong></a>.</p>
{% endblock %}
