{% extends 'base.html.twig' %}

{% block title %}Changement mot de passe
{% endblock %}

{% block body %}
	<h1>Changement de mot de passe</h1>

	<div class="reset-container">
		{{ form_start(resetForm) }}
		{{ form_row(resetForm.plainPassword) }}
		<button class="btn btn-primary">Changer le mot de passe</button>
		{{ form_end(resetForm) }}
	</div>
{% endblock %}
