{% extends 'base.html.twig' %}

{% block title %}Modifier le commentaire{% endblock %}

{% block body %}
    <h1>Modifier le commentaire</h1>

    {{ include('comment/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_home') }}">Retour page d'accueil </a>

    {{ include('comment/_delete_form.html.twig') }}
{% endblock %}
