{% extends 'base.html.twig' %}

{% block title %}Créer une parcelle{% endblock %}

{% block body %}
    <h1>Créer une nouvelle parcelle</h1>

    <div class="container">
        {{ include('parcelle/_form.html.twig') }}

        <a href="{{ path('app_parcelle_index') }}">back to list</a>
    </div>
{% endblock %}
