{% extends 'base.html.twig' %}

{% block title %}Nouveau Post{% endblock %}

{% block body %}
    <h1>Nouveau Post</h1>

    <div class="post-form-container">
    {{ include('post/_form.html.twig') }}

    <a href="{{ path('app_home') }}" class="btn">Retour au Post</a>
    </div>
{% endblock %}
