<form method="post" action="{{ path('app_reunion_delete', {'id': reunion.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette réunion?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reunion.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
