{% extends 'base.html.twig' %}

{% block title %}Nouvelle Reunion{% endblock %}

{% block body %}
    <h1>Créer une nouvelle réuntion</h1>

    {{ include('reunion/_form.html.twig') }}

    <a href="{{ path('app_reunion_index') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}
