{% extends 'base.html.twig' %}

{% block title %}Nouveau commentaire{% endblock %}

{% block body %}
    <h1>Créer un nouveau commentaire</h1>

    {{ include('admin_comment/_form.html.twig') }}

    <a href="{{ path('app_admin_comment_index') }}" class="btn btn-secondary mt-2">Retour</a>
{% endblock %}
