{% extends 'base.html.twig' %}

{% block title %}Modifier une plante{% endblock %}

{% block body %}
    <h1>Modifier une plante</h1>

    {{ include('admin_plante/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_admin_plante_index') }}">Retour à la liste des plantes</a>

    {{ include('admin_plante/_delete_form.html.twig') }}
{% endblock %}
