{% extends 'base.html.twig' %}

{% block title %}Modifier une plante{% endblock %}

{% block body %}
    <h1>Modifier une plante</h1>

    {{ include('admin_plante/_form.html.twig', {'button_label': 'Modifier'}) }}
    <div class="d-flex flex-column align-items-start gap-2 mt-2 ">

    {{ include('admin_plante/_delete_form.html.twig') }}

    <a href="{{ path('app_admin_plante_index') }}" class="btn btn-secondary">Retour</a>
    </div>
{% endblock %}
