{% extends 'base.html.twig' %}

{% block title %}Nouvelle plante{% endblock %}

{% block body %}
    <h1>Créer une plante</h1>

    {{ include('admin_plante/_form.html.twig') }}

    <a href="{{ path('app_admin_plante_index') }}" class="btn btn-secondary mt-2">Retour</a>
{% endblock %}
